@(shortenedUri: Option[String], error: Option[String])
@import helper.twitterBootstrap._

@main("Muktuk URL shortener") {

<div class="container">
  <div class="row">
    <h4>Please enter a URL to be shortened</h4>
  </div>
  <div class="row">
    @helper.form(action = muktuk.controllers.routes.Application.shorten, 'class -> "form-inline") {
      <div class="control-group @error.map(e => "error").getOrElse("")">
        <div class="controls">
          <input name="uri" id="uri" type="text" class="input-xxlarge" placeholder="Type a URL">
          <button type="submit" class="btn">Shorten</button>
          @if(error.isDefined) {
            <div>
              <span class="help-inline">@error.get</span>
            </div>
          }
        </div>
      </div>
    }
  </div>

  @if(!shortenedUri.isEmpty) {
    @defining(shortenedUri.get) { uri =>
      <div class="row">
        <h5>You can use the following shortened url: <h5><a href="@uri">@uri</a>
      </div>
    }
  }
</div>
}
